@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Cinzel', serif;
}
html {
    position: relative;
    min-height: 100%;
}

.cart-sticker{
    height:40px;
    width:43px;
    display:flex; 
    justify-content: space-around; 
    align-items:center;
    background-color:seagreen
}
﻿#cartButton {
    margin-right: 8px;
}

nav {
    padding: 8px;
}

.loginForm {
    margin: 10%;
}

.checkoutForm {
    margin-top: 5%;
}

.orderForm {
    margin-top: 5%;
    border-radius: 20px;
    border-style: solid;
    border-color: #2fa4e7;
}

a.remove {
    text-decoration: none;
}

    a.remove:hover {
        color: blue;
    }

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.marginTop {
    margin-top: 5%;
}

.marginTop1 {
    margin-top: 2%;
}

.formPullRightButton {
    margin-right: 10px !important
}

.carousel img {
    min-width: 100%;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s ease-in-out;
}
.card:hover {
    transform:scale(1.03);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*Font awesome part*/
.fas{
    cursor:pointer;
    color:grey;
    transition:0.2s ease;
}
.fa-heart{
    color:red;
}

.fa-cart-plus:hover{
    color:forestgreen
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}