
<footer>
    <div class="border-top card-footer text-muted text-center">
        <div class="container">
            Copyright &copy; Drink'n Go @DateTime.Now.Year
            <email my-email="reliabledevelopment@outlook.com"></email>
        </div>
    </div>
</footer>

