
@{
    ViewData["Title"] = "AboutUs";
}
<div class="container">
    <h1>Contact us</h1>
    <p>If you have any question, we will be glad to help you out: <email adress="Test@test.com" content="Send us a mail!"> </email> </p>
</div>
